@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .code-block-wrapper {
    @apply m-0 p-0 border border-[--color-light-border] rounded-md overflow-hidden;
  }

  .code-block-header {
    @apply flex justify-between items-center bg-gray-300 dark:bg-gray-400 text-[#333] text-xs font-bold px-3 py-1 font-mono;
  }

  .copy-button {
    @apply bg-none border-none cursor-pointer p-0 text-[--color-light-accent-light] flex items-center;
  }

  .copy-button svg {
    @apply w-[1em] h-[1em];
  }

  .prose pre {
    @apply overflow-x-auto whitespace-pre-wrap break-words m-0 p-0;
  }

  .prose code {
    @apply break-words;
  }

  .prose pre code {
    @apply break-all;
  }

  .dark .prose pre {
    @apply bg-[#1a1a1a] text-gray-100;
  }

}

#toc-list ul {
  @apply list-disc pl-4 space-y-1;
}

#toc-list li {
  @apply mb-1;
}

#toc-list li li {
  @apply pl-1 list-[circle];
}

#toc-list li li li {
  @apply pl-1 list-[square];
}

.toc-collapsed ul {
  display: none;
}

.toc-expanded ul {
  display: block;
}

.toc-active > a {
  @apply font-semibold text-blue-600 dark:text-blue-400;
}